# Server settings
PRODUCT_NAME='Epayco-Technical-Test-Backend-Database'
NODE_ENV=development
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Sincronize true only with MongoDB
MONGODB_HOST=host
MONGODB_PORT=port
MONGODB_URL=mongoUrl
MONGODB_DBNAME=dbname
MONGODB_DBTEST=dbtest
MONGODB_USER=username
MONGODB_PASSWORD=password

# JWT Config
JWT_SECRET=MyS3cReTsK3y!
JWT_EXPIRES=10  #seconds

# SMTP Config
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USERNAME=postmaster@sandboxbaf399ae4dd84c0b934da8861e434584.mailgun.org
SMTP_PASSWORD=c5ea0322e3e0e7fa8aafd91106888007-2c441066-80926382
SMTP_SECURE_SSL=false
SMTP_SENDER_NAME=Notifications
SMTP_SENDER_EMAIL_DEFAULT=max.zapata2014@gmail.com
