{
    "$schema": "https://swc.rs/schema.json",
    "sourceMaps": true,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
      },
      "baseUrl": "./",
      "paths": {
        "@src/*": ["src/*"],
        "@config/*": ["src/config/*"],
        "@modules/*": ["src/modules/*"],
        "@shared/*": ["src/shared/*"]
      },
      "target": "es2021"
    },
    "minify": false
  }
  